<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">NUEVO REPUESTO</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menuId="sideMenu">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<form action="">
  <!-- 
    "nombre": "Piston",
			"medida": 75,
			"marca": "okinoi",
			"descripcion": "alguna descripcion",
			"cantidad": 20,
      
      "OrigenId": "1",
   -->
  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Medida</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Marca</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Descripcion</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Cantidad</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Origen</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-button type="submit" color="primary">Guardar</ion-button>
  </ion-item>

</form>
</ion-content>



