<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">RETIRAR TRABAJO</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menuId="sideMenu">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formRetirarOT" (ngSubmit)="onSubmit()">
  
  <ion-item>
    <ion-label>(*) Tarjeta N°</ion-label>
    <ion-input formControlName="tarjeta" readonly></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Orden Papel N°</ion-label>
    <ion-label *ngIf="OTaRetirar">{{OTaRetirar.OrdenTrabajo.ordenPapel}}</ion-label>
  </ion-item>

  <ion-button id="addNumeroTarjeta" (click)="addNumeroTarjeta()">Buscar Tarjeta</ion-button>
  <ion-button id="stopSearch" (click)="stopSearch()">Cancelar</ion-button>

  <!-- DATOS CLIENTE -->
  <ion-list>
    <ion-label>DATOS CLIENTE</ion-label>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-label>DNI</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngIf="OTaRetirar">
      <ion-label >{{OTaRetirar.OrdenTrabajo.Cliente.nombre}} {{OTaRetirar.OrdenTrabajo.Cliente.apellido}}</ion-label>
      <ion-label >{{OTaRetirar.OrdenTrabajo.Cliente.dni}}</ion-label>
    </ion-item>
  </ion-list>
  <!-- DATOS TRABAJO -->
  <ion-list>
    <ion-item>
      <ion-label>TRABAJO</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngIf="OTaRetirar">
      <ion-label >{{OTaRetirar.OrdenTrabajo.Trabajo.nombre}} </ion-label>
    </ion-item>
  </ion-list>
  <!-- DATOS REPUESTOS -->
  <ion-list>
    <ion-label>DATOS REPUESTOS</ion-label>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-label>Marca</ion-label>
      <ion-label>Medida</ion-label>
      <ion-label>Origen</ion-label>
    </ion-item>
  </ion-list>
  
  <ion-list *ngFor="let repuesto of Repuestos">
    <ion-item *ngIf="Repuestos">
      <ion-label >{{repuesto.nombre}}</ion-label>
      <ion-label >{{repuesto.marca}}</ion-label>
      <ion-label >{{repuesto.medida}}</ion-label>
      <ion-label >{{repuesto.Origen.pais}}</ion-label>
    </ion-item>
  </ion-list>

  <!-- DATOS MOTO -->
  <ion-list>
    <ion-label>MOTO</ion-label>
    <ion-item>
      <ion-label>Marca</ion-label>
      <ion-label>Modelo</ion-label>
      <ion-label>Cilindrada</ion-label>
      <ion-label>Año</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngIf="OTaRetirar">
      <ion-label >{{OTaRetirar.OrdenTrabajo.Moto.marca}} </ion-label>
      <ion-label >{{OTaRetirar.OrdenTrabajo.Moto.modelo}} </ion-label>
      <ion-label >{{OTaRetirar.OrdenTrabajo.Moto.cilindrada}} </ion-label>
      <ion-label >{{OTaRetirar.OrdenTrabajo.Moto.anio}} </ion-label>
    </ion-item>
  </ion-list>


  <!-- DATOS PRECIO/SALDO/ENTREGA/CANCELA -->
  <ion-label>PRECIOS </ion-label>
  <ion-item>
    <ion-label>Precio: </ion-label>
    <ion-input formControlName="precio" type="number" readonly="{{isPrecioReadOnly}}"
    (ionChange)="calcSaldo()"></ion-input>  
  </ion-item>
  <ion-button id="modificarPrecio" (click)="modificarPrecio()">Modificar Precio</ion-button>



  <ion-item>
    <ion-label>Entrega Realizada: </ion-label>
    <ion-input formControlName="entrega" readonly></ion-input>  
  <!-- </ion-item>

  <ion-item> -->
    <ion-label>Saldo Pendiente: </ion-label>
    <ion-input formControlName="saldo" readonly></ion-input>  
  </ion-item>

  <ion-item>
    <ion-label>Cancela con: </ion-label>
    <!-- agregar la suma al campo 'entrega' 
    agregar tmb linea en campo 'descripcion' con el detalle de esta suma y fecha -->
    <ion-input formControlName="cancela" type="number" 
    (ionChange)="calcSaldo()"></ion-input>  
  </ion-item>
  <ion-button color="success" id="cantelaTotalSaldo" (click)="cantelaTotalSaldo()">Cancelar Total</ion-button>

  <ion-item>
    <ion-label>Detalles de la Orden de Trabajo: </ion-label>
    <ion-label *ngIf="OTaRetirar">{{OTaRetirar.OrdenTrabajo.detalle}}</ion-label>  
  </ion-item>

  <ion-item>
    <ion-label>Observaciones: </ion-label>
    <ion-input formControlName="observaciones" ></ion-input>  
  </ion-item>

  <ion-item>
    <ion-button [disabled]="!formRetirarOT.valid" type="submit" color="primary">Retirar Trabajo</ion-button>
  </ion-item>

  </form>

</ion-content>

