<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">NUEVA ORDEN DE TRABAJO</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menuId="sideMenu">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="formNuevaOT">
  <form [formGroup]="formNuevaOT">
    <!-- await for target -->
    <ion-item>
      <ion-label class="custom">Tarjeta </ion-label>
      <ion-input formControlName="tarjeta"  readonly> </ion-input>  
     
      <ion-button id="addNumeroTarjeta" 
      (click)="addNumeroTarjeta()">Leer Tarjeta</ion-button>
      
      <ion-button id="cancelAddNumeroTarjeta" 
      (click)="cancelAddNumeroTarjeta()" 
      disabled color="danger" >Cancelar</ion-button>
      
      <ion-button id="limpiarTarjeta" (click)="limpiarTarjeta()" 
      color="light">Limpiar</ion-button>

    </ion-item>

    


    <ion-item>
      <ion-label class="custom">N° Orden Papel:</ion-label>
      <ion-input formControlName="ordenPapel"></ion-input>  
    </ion-item>

    <!-- TRABAJO -->
    <br><br>
    <ion-item>
      <!-- <ion-label position="floating">Trabajo</ion-label>
      <ion-input formControlName="trabajo"></ion-input> -->
      <ion-select placeholder="Trabajo (*)" multiple="false" formControlName="TrabajoId">
        <ion-content *ngFor="let trabajo of trabajos">
        <ion-select-option value="{{trabajo.id}}">{{trabajo.nombre}}</ion-select-option>
        </ion-content>
      </ion-select>
      

    </ion-item>
   
    <br><br>

    <!-- CLIENTES -->
    <fieldset>
    <ion-item>
      <ion-button (click)="openModalClientes()"> Cliente (*) </ion-button>
    </ion-item>


    <ion-list>
      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-label>Apellido</ion-label>
        <ion-label>Celular</ion-label>
        <ion-label>DNI</ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label>{{cliente.nombre}}</ion-label>
        <ion-label>{{cliente.apellido}}</ion-label>
        <ion-label>{{cliente.celular}}</ion-label>
        <ion-label>{{cliente.dni}}</ion-label>
      </ion-item>

    </ion-list>
  </fieldset>

  <br><br>

    <!-- MOTOS -->
    <fieldset>
    <ion-item>
      <ion-button (click)="openModalMotos()"> Moto (*) </ion-button>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-label>Marca</ion-label>
        <ion-label>Modelo</ion-label>
        <ion-label>Cilindrada</ion-label>
        <ion-label>Año</ion-label>
        <ion-label>Observaciones</ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label>{{moto.marca}}</ion-label>
        <ion-label>{{moto.modelo}}</ion-label>
        <ion-label>{{moto.cilidrada}}</ion-label>
        <ion-label>{{moto.anio}}</ion-label>
        <ion-label class="ion-text-wrap">{{moto.observaciones}}</ion-label>
      </ion-item>
    </ion-list>
    </fieldset>

    <!-- REPUESTOS -->

    <!-- <ion-item>
      <ion-label position="floating">Repuestos</ion-label>
      <ion-input formControlName="repuestos"></ion-input>
    </ion-item> -->

    <br><br>

    <fieldset>
      <legend>Detalles</legend>
      <ion-item>
        <ion-label position="floating"></ion-label>
        <ion-textarea formControlName="detalle"></ion-textarea>
      </ion-item>
    </fieldset>
    
    <br><br>

    <fieldset>
      <legend>Costos</legend>
      <ion-item>
        <ion-label position="floating">Precio $</ion-label>
        <ion-input formControlName="precio" type="number"
        (ionChange)="calcSaldo()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Entrega $</ion-label>
        <ion-input formControlName="entrega" type="number"
        (ionChange)="calcSaldo()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Saldo $</ion-label>
        <ion-input readonly type="number" formControlName="saldo" > </ion-input>

      </ion-item>

    </fieldset>

    <fieldset>
      <legend>Fecha de entrega estimada</legend>
      <ion-item>
        <ion-datetime-button datetime="id_fecha_entrega_estimada">
        </ion-datetime-button>
        <ion-icon name="calendar"></ion-icon>
        
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime 
              id="id_fecha_entrega_estimada" 
              formControlName="fecha_entrega_estimada"
              minuteValues="0,30"
              hourCycle="h24"
              locale="es-AR"
              >
            </ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
    </fieldset>

  <br>

    <div class="button-center">
  
        <ion-item>
          <ion-button [disabled]="!formNuevaOT.valid" color="primary" (click)="onSubmit(limpiar)">Guardar y Limpiar</ion-button>
        </ion-item>
      </div>
      <div class="button-center">
        <ion-item>
          <ion-button [disabled]="!formNuevaOT.valid" color="primary" (click)="onSubmit(nolimpiar)">Guardar y Seguir Añadiendo</ion-button>
        </ion-item>
      
        <ion-item>
          <ion-button color="primary" (click)="limpiarForm()">Limpiar formulario</ion-button>
        </ion-item>
    </div>
    <br>
  </form>
</ion-content>
