<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">INICIO</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menuId="sideMenu">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
