<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">NUEVO CLIENTE</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menuId="sideMenu">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<form action="">
  <!-- 
    "nombre": "",
			"apellido": "",
			"dni": ,
			"celular": 
   -->
  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Apellido</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>DNI</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Celular</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-button type="submit" color="primary">Guardar</ion-button>
  </ion-item>

</form>
</ion-content>


