<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">BUSCAR O AGREGAR NUEVO CLIENTE</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menuId="sideMenu">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Buscar o Agregar Clientes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirmar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup]="formCliente" (ngSubmit)="onSubmit()">
  <!-- 
    "nombre": "",
			"apellido": "",
			"dni": ,
			"celular": 
   -->
  <ion-item>
    <ion-label 
      position="floating">Nombre</ion-label>
    <ion-input formControlName="nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input formControlName="apellido"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">DNI</ion-label>
    <ion-input formControlName="dni"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Celular</ion-label>
    <ion-input formControlName="celular"></ion-input>
  </ion-item>

  <ion-item>
    <ion-button type="submit" color="primary">Buscar</ion-button>
  </ion-item>
  <ion-item>
    <ion-button color="primary" (click)="nuevoCliente()" >Añadir Como Nuevo Cliente</ion-button>
  </ion-item>
</form>

<!-- Listado de Clientes -->
<ion-content>
  <!-- NGX DATATABLE -->
 
  <!-- <input
        type="text"
        style="padding:8px;margin:15px auto;width:30%;"
        placeholder="Filtrar por Cliente..."
        (keyup)="updateFilter($event)"
      /> -->

  <div class="ion-padding">
    <!-- Theme classes dark, material, bootstrap -->
    <ngx-datatable 
      #table
      class="bootstrap ngx-datatable"
      [limit]="15"  
      [rows]="rows" 
      [rowHeight]="50" 
      [columns]="columns"
      [columnMode]="'force'" 
      [sortType]="'multi'" 
      [headerHeight]="50" 
      [footerHeight]="50"
      [summaryRow]="true"
      [summaryPosition]="'bottom'"
      [loadingIndicator]="loadingIndicator"
      [reorderable]="reorderable"
      [selected]="selected"
      (activate)="onActivate($event)"
    >
    </ngx-datatable>
  </div>
  <!-- END NGX DATATABLE -->


</ion-content>


