<ion-header>
  <ion-toolbar>
    <ion-title>Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form >
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Celular</ion-label>
      <ion-input ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">DNI</ion-label>
      <ion-input ></ion-input>
    </ion-item>

  </form>

  <ion-grid>
    <ion-row>
      <ion-col>
        Nombre
      </ion-col>
      <ion-col>
        Apellido
      </ion-col>
      <ion-col>
        Celular
      </ion-col>
      <ion-col>
        DNI
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        fulano
      </ion-col>
      <ion-col>
        de tal <br />
        o tal <br />
      </ion-col>
      <ion-col>
        0123456789
      </ion-col>
      <ion-col>
        32654987
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
