<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">ORDENES DE TRABAJO</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menuId="sideMenu">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- NGX DATATABLE -->
  <!-- <input type="text" (keyup)='filterDatatable($event)'> -->
  <input
        type="text"
        style="padding:8px;margin:15px auto;width:30%;"
        placeholder="Filtrar por Cliente..."
        (keyup)="updateFilter($event)"
      />

  <div class="ion-padding">
    <!-- Theme classes dark, material, bootstrap -->
    <ngx-datatable 
      #table
      class="ngx-datatable bootstrap"
      [limit]="15"  
      [rows]="rows" 
      [rowHeight]="50" 
      [columns]="columns"
      [columnMode]="'force'" 
      [sortType]="'multi'" 
      [headerHeight]="50" 
      [footerHeight]="50"
      [summaryRow]="true"
      [summaryPosition]="'bottom'"
      [loadingIndicator]="loadingIndicator"
      [reorderable]="reorderable"
      [selected]="selected"
      [rowClass]="getRowClass"
      (activate)="onActivate($event)"

    >

    <ngx-datatable-column name="Mensaje" prop="Cliente.celular">
      <ng-template ngx-datatable-cell-template 
        let-rowIndex="rowIndex" 
        let-value="value"                        
        let-row="row">
        <ion-button type="button" class="success button"
            (click)='handleSendSms(value)'>Wpp!
        </ion-button>
                 </ng-template>
             </ngx-datatable-column>
    <ngx-datatable-column name="Estado" prop='Estado.nombre' >
    </ngx-datatable-column>  // need to define each column with empty body
    <ngx-datatable-column name="Apellido" prop='Cliente.apellido' >
    </ngx-datatable-column>
    <ngx-datatable-column name="Nombre" prop='Cliente.nombre' >
    </ngx-datatable-column>
    <ngx-datatable-column name="Trabajo" prop='Trabajo.nombre' >
    </ngx-datatable-column>
    <ngx-datatable-column name="Moto" prop='Moto.modelo' >
    </ngx-datatable-column>
    <ngx-datatable-column name="Entrega" prop='fecha_entrega_estimada' >
    </ngx-datatable-column>
    <ngx-datatable-column name="Ingreso" prop='createdAt' >
    </ngx-datatable-column>
   

    


    </ngx-datatable>
  
  </div>
  <!-- END NGX DATATABLE -->

</ion-content>
